*.o
*.pyc
*.vcxproj
*.vcxproj.filters
.ninja_deps
.ninja_log
build.ninja
putty-src/CMakeCache.txt
CMakeFiles/
Debug/
Release/
Win32/
cmake_install.cmake
putty-src/shipped.txt
*.dir/
*.lib
.vs
.dirstamp
.deps
.DS_Store
putty-src/*.pdb
putty-src/*.ilk
putty-src/*.res
putty-src/*.RES
putty-src/*.pch
putty-src/*.rsp
putty-src/*.obj
putty-src/*.exe
putty-src/*.ncb
putty-src/*.plg
putty-src/*.dsw
putty-src/*.opt
putty-src/*.dsp
putty-src/*.sln
putty-src/*.tds
putty-src/*.td2
putty-src/*.map
putty-src/MSVC
putty-src/*.log
putty-src/*.GID
putty-src/local
putty-src/Output
putty-src/pageant
putty-src/plink
putty-src/pscp
putty-src/psftp
putty-src/putty
putty-src/puttytel
putty-src/puttygen
putty-src/pterm
putty-src/puttyapp
putty-src/ptermapp
putty-src/psusan
putty-src/osxlaunch
putty-src/uppity
putty-src/psocks
putty-src/unix/PuTTY.app
putty-src/unix/Pterm.app
putty-src/fuzzterm
putty-src/testcrypt
putty-src/testsc
putty-src/testzlib
putty-src/cgtest
putty-src/scctest
putty-src/test_host_strfoo
putty-src/test_tree234
putty-src/test_wildcard
putty-src/*.DSA
putty-src/*.RSA
putty-src/*.cnt
putty-src/*.hlp
putty-src/.bmake
putty-src/build.log
putty-src/build.out
putty-src/empty.h
Makefile
putty-src/compile
*.a
putty-src/charset/sbcsdat.c
putty-src/contrib/cygtermd/cygtermd.exe
putty-src/doc/*.html
putty-src/doc/*.txt
putty-src/doc/*.cnt
putty-src/doc/*.hlp
putty-src/doc/*.gid
putty-src/doc/*.GID
putty-src/doc/*.chm
putty-src/doc/*.log
putty-src/doc/*.1
putty-src/doc/*.info
putty-src/doc/vstr.but
putty-src/doc/*.hhp
putty-src/doc/*.hhc
putty-src/doc/*.hhk
putty-src/doc/licence.but
putty-src/doc/copy.but
putty-src/icons/*.pam
putty-src/icons/*.png
putty-src/icons/*.ico
putty-src/icons/*.icns
putty-src/icons/*.xpm
putty-src/icons/*.c
putty-src/unix/empty.h
putty-src/unix/plink
putty-src/unix/pterm
putty-src/unix/putty
putty-src/unix/puttytel
putty-src/unix/psftp
putty-src/unix/pscp
putty-src/unix/puttygen
putty-src/unix/stamp-h1
putty-src/unix/*.log
putty-src/unix/.deps
putty-src/windows/*.pdb
putty-src/windows/*.ilk
putty-src/windows/*.res
putty-src/windows/*.RES
putty-src/windows/*.pch
putty-src/windows/*.rsp
putty-src/windows/*.obj
putty-src/windows/*.exe
putty-src/windows/*.ncb
putty-src/windows/*.plg
putty-src/windows/*.dsw
putty-src/windows/*.opt
putty-src/windows/*.dsp
putty-src/windows/*.tds
putty-src/windows/*.td2
putty-src/windows/*.map
putty-src/windows/*.rcpp
putty-src/windows/*.log
putty-src/windows/*.GID
putty-src/windows/local
putty-src/windows/Output
putty-src/windows/*.DSA
putty-src/windows/*.RSA
putty-src/windows/*.cnt
putty-src/windows/*.hlp
putty-src/windows/.bmake
putty-src/windows/*.sln
putty-src/windows/*.suo
putty-src/windows/*.msi
putty-src/windows/*.wixobj
putty-src/windows/*.wixpdb
